body {
  font-family: 'Saira Condensed', sans-serif;
  line-height: 1.5;
  display: flex;
  justify-content: center;
  padding: 1em;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 6em;
  margin-bottom: 30px;
}

header a {
  display: flex;
}

h2 {
  font-weight: 600;
  font-size: 2em;
}

h3 {
  font-weight: 600;
  font-size: 1.5em;
}

h4 {
  font-weight: 600;
  font-size: 1em;
}

.layout {
  max-width: 1000px;
  width: 100%;
}

main {
  min-height: calc(100vh - 164px - 80px - 2em);
}

footer {
  min-height: 40px;
  border: 8px solid #f48466;
  margin-top: 20px;
  box-sizing: border-box;
  padding: 8px;
  border-radius: 4px;
}

.footer--links {
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  width: 100%;
}

.footer--link {
  text-decoration: none;
  color: #444;
  white-space: nowrap;
}

.footer--link:hover {
  text-decoration: underline;
  cursor: pointer;
}
