body {
  font-family: 'Saira Condensed', sans-serif;
  line-height: 1.5;
  display: flex;
  justify-content: center;
  padding: 1em;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 6em;
  margin-bottom: 30px;
}

header a {
  display: flex;
}

h2 {
  font-weight: bold;
  font-size: 2em;
}

.layout {
  min-width: 404px;
  max-width: 1000px;
}

main {
  min-height: calc(100vh - 164px - 60px - 2em);
}

footer {
  min-height: 40px;
  background-color: #f48466;
  margin-top: 20px;
  box-sizing: border-box;
  padding: 8px;
  border-radius: 2px;
}