.pageHeader {
  font-size: 0;
}

.featuredClass {
  border: 6px solid #f48466;
  border-radius: 6px;
  margin-bottom: 20px;
}

.featuredClass--title {
  background-color: #f48466;
  padding: 8px;
}

.featuredClass--description {
  background-color: #fff;
  padding: 8px;
  font-size: 1em;
}

.featuredClass--paragraph {
  padding: 8px 0;
  font-size: 18px;
}

.featuredClass--link {
  margin-top: 8px;
  display: block;
  font-size: 1.5em;
}

.upcoming {
  margin-left: 10px;
  margin-bottom: 20px;
  font-size: 1.3em;
}

.upcoming--item {
  display: flex;
}

.upcoming--date {
  margin-right: 6px;
  width: 110px;
  align-self: center;
  display: flex;
}

.upcoming--event {
  margin-left: 10px;
  align-self: center;
}

.upcoming--details {
  color: #666;
  font-size: 16px;
}

.upcoming--emphasis {
  font-weight: 600;
}

.links--item {
  display: flex;
}

.links--link {
  font-size: 1.3em;
}

.links--slack {
  height: 2em;
}

.links--twitter, .links--javascript {
  height: 1em;
  width: 1em;
  padding: .5em;
}

.links--apple {
  width: 2em;
  height: 2em;
  justify-content: center;
  display: flex;
  align-items: center;
}

.links--railsbridge { 
  padding: 8px;
  height: 2em;
  width: 2em;
  box-sizing: border-box;
}
